set timeout=0
set default=0

menuentry "WuciOS 2.4.0 - Noether Forge" {
linux /boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage console=tty0 console=ttyS0,115200n8 rootflags=size=512M
initrd /boot/initramfs-lts
}
